/* In a production environment, I'd use a css preprocessor like Sass or elm-css */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 60em;
  margin: 0 auto;
  padding: 0 5% 1em;
  box-sizing: border-box;
  color: midnightblue;
  text-align: center;
}

body, button, input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", sans-serif;
}

h1 {
  font-weight: lighter;
  font-size: 3em;
}

strong {
  font-weight: 600;
}

.site-header,
.main {
  border-bottom: 1px solid cornflowerblue;
}

.main {
  flex: 1;
}

.start-message {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a,
a:visited {
  color: cornflowerblue;
}

button {
  border: none;
  padding: 0.5em 1em;
  background: cornflowerblue;
  color: #fff;
}

table {
  width: 100%;
  margin-top: 1.5em;
  border-collapse: collapse;
  text-align: left;
}

caption {
  margin-bottom: 0.5em;
}

.results-summary > span {
  display: inline-block;
  margin-right: 0.25em;
}

th {
  border-bottom: 1px solid cornflowerblue;
  font-weight: 600;
  text-align: left;
}

th,
td {
  padding: 0.25em 0.5em;
}

tbody tr:nth-child(odd) {
  background: whitesmoke;
}

.test-status {
  min-width: 5em;
}

.running .test-status::after {
  content: "...";
  animation-name: dots;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes dots {
  0%   {content: ""; }
  20%  { content: ""; }
  40%  { content: "."; }
  60%  { content: ".."; }
  80%  { content: "..."; }
  100% { content: "..."; }
}

.passed .test-status::before {
  content: "\2714 ";
  color: green;
  padding-right: 0.5em;
}

.failed .test-status::before {
  content: "\274C ";
  color: crimson;
  padding-right: 0.5em;
}
