/*
In a production environment, I'd use a css preprocessor like Sass or elm-css.
I would also minify (or package with webpack, etc.) my css and js.
 */


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 60em;
  margin: 0 auto;
  padding: 0 5% 1em;
  box-sizing: border-box;
  /* Contrast ratio with background passes WCAG AAA standard */
  /* I use named colors for prototyping because I like their fun names. :) */
  color: midnightblue;
  text-align: center;
}

/* System fonts that look nice but don't require webfont loading */
body, button, input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", sans-serif;
}

/* Many system fonts have more than two widths, so I take advantage of that. */
h1 {
  font-weight: 100;
  font-size: 3em;
}

/* Styles on base elements are not module-specific and presumed to be used sitewide. */
strong {
  font-weight: 600;
}

.site-header,
.main {
  border-bottom: 1px solid cornflowerblue;
}

/* This, plus flex settings in the body, enable the sticky footer. */
.main {
  flex: 1;
}

/* Styles specific to the module are specified with classes */
.start-message {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Link & button color passes WCAG AA and also passes 3:1 contrast with regular text. */
a,
a:visited {
  color: royalblue;
}

button {
  margin: 0 0.25em;
  border: none;
  padding: 0.5em 1em;
  background: royalblue;
  color: #fff;
}

table {
  width: 100%;
  margin-top: 1.5em;
  border-collapse: collapse;
  text-align: left;
}

caption {
  margin-bottom: 0.5em;
}

/* Enables graceful text wrapping at narrow widths */
.results-summary > span {
  display: inline-block;
  margin-right: 0.25em;
}

th {
  border-bottom: 1px solid cornflowerblue;
  font-weight: 600;
  text-align: left;
}

th,
td {
  padding: 0.25em 0.5em;
}

tbody tr:nth-child(odd) {
  background: whitesmoke;
}

/* Ensures that column width won't re-size with state changes and animation.
Sizing in em ensures that this works when the user changes default font size. */
.test-status {
  min-width: 5em;
}

/* Unicode icons and animations are decorative. Content is still meaningful
when features are not supported. */
.running .test-status::after {
  content: "...";
  animation-name: dots;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes dots {
  0%   {content: ""; }
  20%  { content: ""; }
  40%  { content: "."; }
  60%  { content: ".."; }
  80%  { content: "..."; }
  100% { content: "..."; }
}

.passed .test-description::before {
  /* :heavy check marK: */
  content: "\2714 ";
  color: green;
  padding-right: 0.5em;
}

.failed .test-description::before {
  /* :cross mark: */
  content: "\274C ";
  color: crimson;
  padding-right: 0.5em;
}
